
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --accent-colour1: #c3073f;
    --accent-colour2: #c88089;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--accent-colour2);
    font-size: 0.85rem;
}

.home-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: turquoise;
}

.greeting {
    color: var(--accent-colour1);
}

.name {
    color: red;
}

.catch-phrase {
    color: #cc4d5f;
}

.about-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: turquoise;
}

/*
.about-content {
    background-color: orange;
}
*/

.work-section {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: turquoise;
}


.work-content {
    background-color: yellow;
}

.projects-content {
    background-color: green;
}

.extracurriculars-content {
    background-color: blue;
}

.contact-content {
    background-color: purple;
}

.resume-content {
    background-color: magenta;
}

.workExp1 .company {
    color: teal;
}

.workExp2 .company {
    color: plum;
}

.workExp3 .company {
    color: salmon;
}

.workExp4 .company {
    color: seagreen;
}

/*To make the header stack vertically for smaller screen sizes*/
@media (max-width: 500px) {
    header {
        flex-direction: column; 
        align-items: flex-end; 
    }

    nav li {
        display: block; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }
}