@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.work-section {
    padding-top: 50px;
}

:root {
    --accent-colour1: #c3073f;
    --accent-colour2: #E83C5A;
    --accent-colour3: #FF6077;
    --accent-colour4: #c88089;
    --accent-colour5: #cc4d5f;
}